/* components/Auth/RegisterForm.module.css
*/

.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #faf3e0;
  padding: 20px;
}

.card {
  width: 100%;
  max-width: 420px;
  padding: 32px;
  border-radius: 20px;
  background: #f3e9d7;
}

.title {
  text-align: center;
  font-size: 32px;
  font-family: var(--font-main);
  margin-bottom: 12px;
}

.subtitle {
  text-align: center;
  font-size: 16px;
  margin-bottom: 24px;
  color: #555;
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 12px;
  margin-bottom: 6px;
}

.input {
  padding: 12px 40px 12px 16px;
  margin-bottom: 12px;
  border-radius: 12px;
  border: 1px solid #ddd;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  padding-right: 40px;
  cursor: text;
}

.input::placeholder {
  color: #9f9f9f;
}

.input:hover {
  border-color: #9b6c43;
}

.input:focus {
  outline: none;
  border-color: #9b6c43;
}

.passwordWrapper {
  position: relative;
  width: 100%;
}

.eye {
   position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #555;
  display: flex;
  align-items: center;
}

.button {
  margin-top: 16px;
  padding: 14px;
  border: none;
  border-radius: 12px;
  background-color: #9b6c43;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: #7f5635;
}

.loginText {
  margin-top: 16px;
  text-align: center;
  font-size: 14px;
}

.loginText a:hover {
  opacity: 0.7;
}

.loginText a {
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 12px;
  margin-bottom: 8px;
}

.inputError {
  border: 1px solid red;
}
.loader {
  width: 18px;
  height: 18px;
  border: 2px solid white;
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
  display: inline-block;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* mobile base (320+) */

.card {
  width: 100%;
  max-width: 420px;
}

/* tablet */
@media (min-width: 768px) {
  .card {
    max-width: 500px;
  }
}

/* desktop */
@media (min-width: 1440px) {
  .card {
    max-width: 600px;
  }
}